{% extends 'base.html' %} {% block content %} {% load static %}

<section id="about" class="p-5">
  <div class="container p-3">
    <div class="row">
      <div class="col-md-12" data-aos="fade-down">
        <h1 class="display-3">About Us</h1>
        <div id="about-text" class="lead">
          <p>
            P R Construction was started at 1985 by few individuals with minimal
            workforce and labour. Initailly undertaking smaller house
            constrcution projects. Due to the commitment and business ethics it
            grew over the years to become a expert in constructing complex and
            large scale projects. We have worked with various partners and
            industry leaders across different areas on number of different
            projects ranging from housing projects to large educational
            insititutions.
          </p>

          <p>
            We have experience in constructing mega structures like auditoriums,
            theatres and marriage halls.
          </p>

          <p>
            Now with larger work force and over three decades of industry
            experience we strive to deliver quality products that satisfy the
            customers
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
