{% extends 'base.html' %} {% block content %} {% load static %}

<section id="contact" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6"  data-aos="fade-UP">
        <h1 class="display-1">Contact Us</h1>
        <img src="{% static 'img/pr-logo-2.png' %}" alt="" />
        <h2>Tamilarasan S</h2>
        <h2>Phone: +91 9940352711</h2>
        <h3>
          <p></p>
          <p>520, Sundara Vinayagar Nagar,</p>
          <p>Thiruverkadu</p>
          <p>Chennai - 600077</p>
        </h3>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
