{% extends 'base.html' %} {% block content %} {% load static %}

<section id="gallery">
  <div class="container py-5  align-content-center">
    <div class="row">
      <div class="col">
        <div>
          <a
            class="img-fluid img-thumbnail"
            href="{% static 'img/Chairman-Block.jpg' %}"
            data-lightbox="example-set"
            data-title="Chairman-Block, RMK ENgg College"
            ><img
              class="img-fluid img-thumbnail"
              src="{% static 'img/Chairman-Block.-small.jpg' %}"
              alt=""
          /></a>
          <a
            class="img-fluid img-thumbnail"
            href="{% static 'img/Gents-Hostel-V.jpg' %}"
            data-lightbox="example-set"
            data-title="Gents Hostel, RMK Engg College"
            ><img
              class="img-fluid img-thumbnail"
              src="{% static 'img/Gents-Hostel-V-small.jpg' %}"
              alt=""
          /></a>
          <a
            class="img-fluid img-thumbnail"
            href="{% static 'img/Ladies-Hostel.jpg' %}"
            data-lightbox="example-set"
            data-title="Ladies Hostel, RMK Engg College"
            ><img
              class="img-fluid img-thumbnail"
              src="{% static 'img/Ladies-Hostel-small.jpg' %}"
              alt=""
          /></a>
          <a
            class="img-fluid img-thumbnail"
            href="{% static 'img/project-1.jpg' %}"
            data-lightbox="example-set"
            data-title="Public Meeting Hall"
            ><img
              class="img-fluid img-thumbnail"
              src="{% static 'img/project-1-small.jpg' %}"
              alt=""
          /></a>
          <a
            class="img-fluid img-thumbnail"
            href="{% static 'img/rmk-chola.jpg' %}"
            data-lightbox="example-set"
            data-title="Chola Garden, Thiruverkadu"
            ><img
              class="img-fluid img-thumbnail"
              src="{% static 'img/rmk-chola-small.jpg' %}"
              alt=""
          /></a>
          <a
            class="img-fluid img-thumbnail"
            href="{% static 'img/rmk-college-1.jpg' %}"
            data-lightbox="example-set"
            data-title="Open Auditorium, Chola Garden"
            ><img
              class="img-fluid img-thumbnail"
              src="{% static 'img/rmk-college-1-small.jpg' %}"
              alt=""
          /></a>
        </div>
      </div>
      <div class="col">
        <div>
          <a
            class="img-fluid img-thumbnail"
            href="{% static 'img/rmk-const-collage-2.jpg' %}"
            data-lightbox="example-set"
            data-title="Public Park, Chola Gardens"
            ><img
              class="img-fluid img-thumbnail"
              src="{% static 'img/rmk-const-collage-2-small.jpg' %}"
              alt=""
          /></a>
          <a
            class="img-fluid img-thumbnail"
            href="{% static 'img/rmk-const-collage-3.jpg' %}"
            data-lightbox="example-set"
            data-title="Block J, Chola Gardens"
            ><img
              class="img-fluid img-thumbnail"
              src="{% static 'img/rmk-const-collage-3-small.jpg' %}"
              alt=""
          /></a>
          <a
            class="img-fluid img-thumbnail"
            href="{% static 'img/rmk-const-collage-4.jpg' %}"
            data-lightbox="example-set"
            data-title="Block E, Chola Gardens"
            ><img
              class="img-fluid img-thumbnail"
              src="{% static 'img/rmk-const-collage-4-small.jpg' %}"
              alt=""
          /></a>
          <a
            class="img-fluid img-thumbnail"
            href="{% static 'img/rmk-const-collage.jpg' %}"
            data-lightbox="example-set"
            data-title="Block I, Work in Progress, Chola Gardens"
            ><img
              class="img-fluid img-thumbnail"
              src="{% static 'img/rmk-const-collage-small.jpg' %}"
              alt=""
          /></a>
          <a
            class="img-fluid img-thumbnail"
            href="{% static 'img/SS-Block.jpg' %}"
            data-lightbox="example-set"
            data-title="Mechanical Block, RMK Engg College"
            ><img
              class="img-fluid img-thumbnail"
              src="{% static 'img/SS-Block-small.jpg' %}"
              alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
